
CircuitTouch/*codes*.txt

CircuitTouch/Screenshots
CircuitScreenshots.sketch

Backups
packages

bin
obj
samples
.DS_Store
.dropbox.attr
Thumbs.db
RealWorldCircuits

AppPackages

*.suo
*.userprefs
*.user
.vs

promocodes*.txt
